
.mdrop-suite-layout-bg-wrapper,
.mdrop-suite-layout {
  position: relative;
  overflow: hidden;
}

.mdrop-suite-layout.has-bg-color a:not([class]) {
  color: inherit;
}

.mdrop-suite-layout .row .block + .block {
  margin-top: inherit;
}

.mdrop-suite-layout-bg-wrapper .mdrop-suite-layout-bg-wrapper__bg-media .contextual-region {
  position: static;
}

.mdrop-suite-layout-bg-wrapper .mdrop-suite-layout-bg-wrapper__bg-media .contextual-region .contextual {
  display: none !important;
}

.mdrop-suite-layout-bg-wrapper .mdrop-suite-layout-bg-wrapper__bg-media img,
.mdrop-suite-layout-bg-wrapper .mdrop-suite-layout-bg-wrapper__bg-media video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.mdrop-suite-layout-bg-wrapper .mdrop-suite-layout-bg-wrapper__bg-media.half-width-left img,
.mdrop-suite-layout-bg-wrapper .mdrop-suite-layout-bg-wrapper__bg-media.half-width-left video {
  width: 50%;
  right: auto;
}

.mdrop-suite-layout-bg-wrapper .mdrop-suite-layout-bg-wrapper__bg-media.half-width-right img,
.mdrop-suite-layout-bg-wrapper .mdrop-suite-layout-bg-wrapper__bg-media.half-width-right video {
  width: 50%;
  left: auto;
}

@media (max-width: 767) {
  .mdrop-suite-layout-bg-wrapper .mdrop-suite-layout-bg-wrapper__bg-media.half-width-left img,
  .mdrop-suite-layout-bg-wrapper .mdrop-suite-layout-bg-wrapper__bg-media.half-width-left video {
    display: none !important;
  }

  .mdrop-suite-layout-bg-wrapper .mdrop-suite-layout-bg-wrapper__bg-media.half-width-right img,
  .mdrop-suite-layout-bg-wrapper .mdrop-suite-layout-bg-wrapper__bg-media.half-width-right video {
    display: none !important;
  }
}

.mdrop-suite-layout .row {
  position: relative;
  z-index: 1;
}

.mdrop-suite-layout .row .media--type-mdrop-suite-video .field--name-field-media-video-file .field__item,
.mdrop-suite-layout .row .media--type-mdrop-suite-remote-video .field--name-field-media-oembed-video .field__item {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.mdrop-suite-layout .row .media--type-mdrop-suite-video .field--name-field-media-video-file .field__item video,
.mdrop-suite-layout .row .media--type-mdrop-suite-remote-video .field--name-field-media-oembed-video .field__item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
