{#
/**
 * @file
 * Mdrop Suite onecol layout.
 */
#}
{% if content %}
  {% if settings.bg_edge_to_edge %}{{ content.bg_media }}{% endif %}
  <div{{ attributes }}>
    {% if not settings.bg_edge_to_edge %}{{ content.bg_media }}{% endif %}
    <div{{ content['#row_attributes'] }}>
      {% if content.top %}
        <div {{ region_attributes.top.addClass(content['#top_class']).addClass('mdrop-suite-layout__region', 'mdrop-suite-layout__region--top') }}>
          {{ content.top }}
        </div>
      {% endif %}
      <div {{ region_attributes.main.addClass(content['#main_class']).addClass('mdrop-suite-layout__region', 'mdrop-suite-layout__region--main') }}>
        {{ content.main }}
      </div>
      {% if content.bottom %}
        <div {{ region_attributes.bottom.addClass(content['#bottom_class']).addClass('mdrop-suite-layout__region', 'mdrop-suite-layout__region--bottom') }}>
          {{ content.bottom }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
